<section class="details-card">
  <div class="container">
    <form [formGroup]="templateFormGroup">
      <div class="row">
        <div class="col-md-4">
          <div class="card-content" (click)="onSubmit('Simple')">
            <div class="card-img">
              <img src="assets/simple.jpg" alt="" />
            </div>
            <div class="card-desc">
              <h4>Simple</h4>
              <div class="card-desc" *ngIf="!prevData" style="color: rgb(0, 238, 255); font-size:medium">*No data Found!</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-content" (click)="onSubmit('Functional')">
            <div class="card-img">
              <img src="assets/temp1.jpeg" alt="" />
            </div>
            <div class="card-desc">
              <h4>Functional</h4>
              <div class="card-desc" *ngIf="!prevData" style="color: rgb(0, 238, 255); font-size:medium">*No data Found!</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-content" (click)="onSubmit('Modern')">
            <div class="card-img">
              <img src="assets/modern.png" alt="" />
            </div>
            <div class="card-desc">
              <h4>Modern</h4>
              <div class="card-desc" *ngIf="!prevData" style="color: rgb(0, 238, 255); font-size:medium">*No data Found!</div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <button
            type="button"
            class="btn btn-primary"
            id="back"
            (click)="backToContact()"
          >
            Back
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
