<div class="nav">
  <div class="nav__logo">
    <fa-icon class="icon" [icon]="faHatWizard"></fa-icon>
    <h3>ResumeWiz</h3>
  </div>
  <div class="nav__links">
    <a
      class="nav__links__link"
      routerLinkActive="active"
      routerLink="/"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a class="nav__links__link">Features</a>
    <a class="nav__links__link">Testimonials</a>
    <a class="nav__links__link">Contact Us</a>
  </div>
  <div class="nav__buttons">
    <button class="btn loginbtn" routerLinkActive="active" routerLink="/login">
      Login
    </button>
    <button class="btn signupbtn" (click)="signupClicked()">Signup</button>
  </div>
</div>
