<div class="linkcontainer">
  <div class="items">
    <div class="item"><a href="">About</a></div>
    <div class="item"><a href="">Careers</a></div>
    <div class="item"><a href="">Accessibility help</a></div>
    <div class="item"><a href="">Privacy Policy</a></div>
    <div class="item"><a href="">Cookies</a></div>
    <div class="item"><a href="">Contact Us</a></div>
    <div class="item"><a href="">Terms of Use</a></div>
    <div class="item"><a href="">Personalized Resumes</a></div>
    <div class="item"><a href="">Advertise with us</a></div>
    <div class="item"><a href="">Ad Choices</a></div>
    <hr />
    <p class="rtcle_desc">
      © 2022 ResumeWizard. ResumeWizard is not responsible for the content of external
      sites. Read about our approach to external linking.
    </p>
  </div>
</div>
