<div class="card">
  <div class="flex card-container indigo-container">
      <div class="flex-1 h-50rem  text-white font-bold text-center p-4 border-round">
        <p-chart type="doughnut" [data]="data" [options]="chartOptions" width="30vw"></p-chart>
      </div>
      <div class="flex-1 h-4rem bg-indigo-500 text-white font-bold text-center p-4 border-round mx-4">2</div>
      <!-- <div class="flex-1 h-4rem bg-indigo-500 text-white font-bold text-center p-4 border-round">3</div> -->
  </div>
</div>



<!-- <p-chart type="doughnut" [data]="data" [options]="chartOptions" width="30vw"></p-chart> -->