<div class="card">
  <div class="flex card-container indigo-container">
      <div class="flex-1 h-50rem  text-white font-bold text-center p-4 border-round">
        <p-chart type="doughnut" [data]="data" [options]="chartOptions" width="30vw"></p-chart>
      </div>
      <div class="card">
        <div class="flex flex-column card-container blue-container ">
            <div class="flex align-items-center justify-content-center h-15rem w-30rem font-bold text-white border-round m-2 text-5xl" [ngStyle]="{backgroundColor:'var(--blue-500)'}">Admins : {{adminlength}}</div>
            <div class="flex align-items-center justify-content-center h-15rem w-30rem font-bold text-white border-round m-2 text-5xl" [ngStyle]="{backgroundColor:'var(--orange-500)'}">Users : {{userlength}}</div>
            <div class="flex align-items-center justify-content-center h-15rem w-30rem font-bold text-white border-round m-2 text-7xl" [ngStyle]="{backgroundColor:'var(--green-500)'}">Total : {{ userlength + adminlength }}</div>
        </div>
    </div>
  </div>
</div>



<!-- <p-chart type="doughnut" [data]="data" [options]="chartOptions" width="30vw"></p-chart> -->