<p-card header="Notifications" styleClass="mb-5">
  <p-button label="Emails" styleClass="mr-5 text-4xl" icon="pi pi-envelope text-4xl"></p-button>
<p-button label="Info" icon="pi pi-users text-4xl" styleClass="p-button-warning text-4xl"></p-button>
</p-card>
<div class="card">
  <div class="flex card-container indigo-container">
      <div class="flex-1 h-50rem  text-white font-bold text-center p-4 border-round">
        <p-chart type="doughnut" [data]="data" [options]="chartOptions" width="30vw"></p-chart>
      </div>
      <div class="card">
        <div class="flex flex-column card-container blue-container ">
            <div class="flex align-items-center justify-content-center h-15rem w-30rem font-bold text-white border-round m-2 text-6xl" [ngStyle]="{backgroundColor:'var(--blue-500)'}" >
              <i
                  class="pi pi-user text-5xl"
                ></i>&nbsp;Admins : {{adminlength}}</div>
            <div class="flex align-items-center justify-content-center h-15rem w-30rem font-bold text-white border-round m-2 text-6xl" [ngStyle]="{backgroundColor:'var(--orange-500)'}"><i
              class="pi pi-users text-5xl"
            ></i>&nbsp;Users : {{userlength}}</div>
            <div class="flex align-items-center justify-content-center h-15rem w-30rem font-bold text-white border-round m-2 text-6xl" [ngStyle]="{backgroundColor:'var(--blue-900)'}">Total : {{ userlength + adminlength }}</div>
        </div>
    </div>
  </div>
</div>

