<div class="body" >

    <div class="cont"  >

        <h1>Skill</h1><br>
    <br>
<div class="row">
    <div class="col">
        <label for="form-select" class="form-label">Skill-1</label>
      <input type="text" class="form-control" placeholder="skill" >
    </div>
    <div class="col">
        <label for="form-select" class="form-label">Skill-2</label>
      <input type="text" class="form-control" placeholder="skill" >
    </div>
  </div>

  <div class="row">
    <div class="col"><label for="form-select" class="form-label">Skill-3</label>
      <input type="text" class="form-control" placeholder="skill" >
    </div>
    <div class="col"><label for="form-select" class="form-label">Skill-4</label>
      <input type="text" class="form-control" placeholder="skill" >
    </div>
  </div>

  <div class="col-md-4">
    <label for="inputState" class="form-label">Language</label>
    <select id="inputState" class="form-select">
      <option selected>English</option>
      <option>Malayalam</option>
      <option>Hindi</option>
    </select>
  </div>
<div class="row">
  <div class="col-5">
    <button type="submit" class="btn " id="back" (click)="backToExperience()">Back</button>
  </div>
  <div class="col-5">
    <button type="submit" class="btn btn-primary" id="next" (click)="toSummary()">Next</button>
  </div>
</div>
  </div>
</div>
