<div class="formcontainer">
  <div class="skillcontainer">
      <h1>Skills</h1><br>
      <br>
      <div class="row g-3">
          <div class="col-md-6">
              <label for="inputfirstname" class="form-label">Skill1</label>
              <input type="text" class="form-control" id="size" placeholder="Write Skill" aria-label="Write Skill">
          </div>
          <div class="col-md-6">
              <label for="inputlastname" class="form-label">Skill2</label>
              <input type="text" class="form-control" id="size" placeholder="Write Skill" aria-label="Write Skill">
          </div>
      </div><br>
      <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Skill3</label>
          <input type="email" class="form-control" id="size" placeholder="Write Skill" aria-label="Write Skill">
      </div>
      <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Skill4</label>
          <input type="number" class="form-control" id="size" id="inputPassword4" placeholder="Write Skill">
      </div>
      <div class="col-md-6">
          <label for="inputLanguages" class="form-label">Languages</label>
          <select id="inputLanguages" class="form-select">
      <option selected>Choose...</option>
      <option>...</option>
     <select>
          <br>
       <div  class="row">
            <div   class="col-md-6">
                  <button type="submit" class="btn btn-primary" id="back">back</button>
              </div>
             <div  class="col-md-6">
                  <button type="submit" class="btn btn-primary" id="next">Next</button>
              </div>
          </div>
