<div class="settings">
    <h2>Password Settings</h2>
    <form >
    <div class="form-input">  
    <span class="p-float-label">
        <input 
        class="float-input"
        type="password" 
        pInputText> 
        <label for="float-input">New Password</label>
    </span>
    <span class="p-float-label">
        <input 
        class="float-input" 
        type="password" 
        pInputText> 
        <label for="float-input">Confirm Password</label>
    </span>
</div>
<div class="buttons">
    <button type="button" class="btn btn-primary" id="update">Update</button>
    <button type="button" class="btn btn-primary" id="cancel">Cancel</button>
</div>
</form>
</div>