<div class="body">

    <div class="cont">

        <h1>Settings</h1>
        <div class="col">
            <div class="col"><label for="form-select" class="form-label">Password</label>
                <input type="text" class="form-control" placeholder="New Password">
            </div>
            <div class="row"><label for="form-select" class="form-label">New Password Confirmation</label>
                <input type="text" class="form-control" placeholder="Enter New Password">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-2">
            <button type="submit" class="btn" id="update">Update</button>
        </div>

    </div>