<div class="card">
  <div class="title">
    Pick from our dozens of professionally designed resume templates to create
    your Resume!
  </div>

  <div class="icon">
    <svg
      enable-background="new 0 0 512 512"
      height="512px"
      id="Layer_1"
      version="1.1"
      viewBox="0 0 512 512"
      width="512px"
      xml:space="preserve"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <path
        d="M468.493,101.637L371.955,5.098H159.57v77.231H43.724v424.769h308.923v-77.231h115.846V101.637z   M371.955,32.401l69.236,69.235h-69.236V32.401z M63.031,487.79V101.637h173.769v96.538h96.538V487.79H63.031z M256.108,109.632  l69.236,69.235h-69.236V109.632z M352.647,410.56V178.867l-96.538-96.538h-77.231V24.406h173.769v96.538h96.538V410.56H352.647z"
        fill="#37404D"
      />
    </svg>
  </div>
  <!--/icon-->

  <div class="features">
    <ul>
      <li><h4>STEP 1: Fill up the forms</h4></li>
      <li><h4>STEP 2: Select a template of your choice</h4></li>
      <li><h4>STEP 3: Download your Resume</h4></li>
      <li><h3>Yes! It's that simple!</h3></li>
    </ul>
  </div>
  <!--/features-->

  <a class="btn" [hidden]="!editbtn" (click)="createResume()"
    ><h1><strong>CREATE RESUME</strong></h1></a
  >
  <a class="btn" [hidden]="editbtn" (click)="editResume()"
    ><h1><strong>EDIT RESUME</strong></h1></a
  >
  <div class="inputC" [hidden]="editbtn">
  <input class="input" name="sharelink" #sharelink>
  <a class="btninput" pButton type="button" pTooltip="Copy Link to Clipboard" tooltipPosition="right" (click)="copyMessage(RW_URL)"><h1><strong>SHARE</strong></h1></a>
  </div>
</div>
<!--/card-->
