
.body{

    background-color:#00d5af;
   
       width: 100%;
       height: 1000px;
       
   }
   
   .cont{
       padding-top: 11%;
       margin-left: 20%;
       width: 60%;   
       
       }
   .form-control{
       height: 40px;
       background-color: rgb(237, 232, 246);
   }
   .form-select{
       background-color: rgb(237, 232, 246);
       height: 40px;
   }
   h1{
       text-align: center;
       font-size: xx-large;
   }
   #next{
       width: 20%;
       height: 35px;
       margin-left: 80%;
   }
   #back{
       width: 20%;
       height: 35px;
   }