
<div class="body">
  
    <div class="cont" >
      
      <h1>What's the best way for employers to contact you?</h1><br>
      <br>
    
    <div class="row g-3">
         <div class="col-md-6"> 
          <label for="inputfirstname" class="form-label" >First Name</label> 
          <input type="text" class="form-control" id="size" placeholder="First name" aria-label="First name">
         </div> 
        <div class="col-md-6">
          <label for="inputlastname" class="form-label" >Last Name</label> 
          <input type="text" class="form-control" id="size" placeholder="Last name" aria-label="Last name">
        </div>
    </div><br>
    
      <form class="row g-3">
        <div class="col-md-6">
           <label for="inputEmail4" class="form-label" >Email</label> 
          <input type="email" class="form-control" id="size" placeholder="Email" aria-label="Email">
        </div>
        <div class="col-md-6">
           <label for="inputPassword4" class="form-label" >PhoneNumber</label> 
          <input type="number" class="form-control" id="size" id="inputPassword4" placeholder="Phone Number">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">State</label>
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <br>
        
        <div class="col-6">
          <button type="submit" class="btn btn-primary" id="back" (click)="backToCareerObjective()" >Back</button>
        </div>
        <div class="col-6">
          <button type="submit" class="btn btn-primary" id="next" (click)="toTemplates()">Next</button>
        </div>
      </form>
    </div>
    </div>
    
