<p-dialog
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="signupC">
    <div class="signupC__title">
      <div class="heading">ResumeWizard</div>
      <div class="desc--1">
        Getting started is quick and simple, <br />
        just fill out the info below!
      </div>
    </div>

    <form class="signupC__form">
      <!-- <p
              class="help-block"
              *ngIf="!signupForm.name.valid && signupForm.name.touched"
            >
              This field cannot be empty & numbers are not allowed
            </p> -->
      <div class="webflow-style-input">
        <input
          class="username__input userinput"
          type="text"
          name="name"
          placeholder="What's your Name?"
          pattern="[a-zA-Z ]*"
        />
        <button>
          <i class="material-symbols-outlined">done_all</i>
        </button>
      </div>
      <!-- <p
              class="help-block"
              *ngIf="!signupForm.email.valid && signupForm.email.touched"
            >
              Please enter a valid Email-Address
            </p> -->
      <div class="webflow-style-input">
        <input
          class="email__input userinput"
          type="email"
          name="email"
          placeholder=" Please enter your Email"
          email
        />
        <button type="submit">
          <i class="material-symbols-outlined">done_all</i>
        </button>
      </div>
      <!-- <p
              class="help-block"
              *ngIf="!signupForm.password.valid && signupForm.password.touched"
            >
              Min. 8 characters required.
            </p> -->

      <div class="webflow-style-input">
        <input
          class="password__input userinput"
          name="password"
          type="password"
          placeholder="Please enter your Password"
          pattern=".{8,}"
        />
        <button>
          <i class="material-symbols-outlined">done_all</i>
        </button>
      </div>

      <div class="checkbox">
        <input
          class="checkbox__input userinput"
          type="checkbox"
          name="TC"
          id="TC"
        />
        <p class="desc--middle" for="">
          I agree to the
          <span><a href=""> Terms & Conditions</a></span>
        </p>
      </div>
      <!-- <p class="help-block-auth" *ngIf="isSubmitted && authsignError">
              {{ authsignMessage }}
            </p> -->
      <button class="signupbtn" type="submit">
        <!-- [disabled]="!signupFormGroup.valid" -->
        Register
      </button>
    </form>
    <div class="signupC__link">
      Already have an account? Click
      <span><a href="">here</a></span>
      to login
    </div>
  </div>

  <!-- <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template> -->
</p-dialog>
