//PRIMARY_COLOR
$color-primary: #4314b6;
$color-primary-hover: #5820e6;
$color-navy-blue:#06163a;
$color-navy-blue-hover:rgb(16, 51, 133);

//SECONDARY_COLOR
$color-secondary: #00bbd8;
$color-button: #00d5af;

//TERTIARY_COLOR
$color-tertiary: #007fff;
$color-tertiary-light: #009ff6;
$color-tertiary-dark: #0057ea;

//GREY-LIGHT-SHADES
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

//GREY-DARK-SHADES
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #414141;
$color-grey-dark-3-hover: #2c2c2c;
$color-black-light: #313131;

//BLACK AND WHITE
$color-white: #fff;
$color-black: #000;

//EXTRA COLORS
$color-yellow: #ffb900;
$color-secondary-dark: #ff7730;
$color-secondary-dark-hover: #f16c24;

$input-background: rgba(57, 63, 84, 0.8);
$input-text-inactive: #7881a1;
$input-text-active: #bfd2ff;

$color-light-white: #ecf0f3;
$button-blue: #4b70e2;

$color-grey-icon: #a0a5a8;
$color-grey-text: #c9d2da;

$bg: #edf2f0;

$neu-1: #ecf0f3;
$neu-2: #d1d9e6;

$white: #f9f9f9;
$gray: #a0a5a8;
$black: #181818;
