//PRIMARY_COLOR
// $color-primary-light:
// $color-primary-light-dark:
// $color-primary-dark:
// $color-primary-dark-hover:
$color-primary: #4314b6;

//SECONDARY_COLOR
$color-secondary: #00bbd8;
$color-button: #00d5af;

//TERTIARY_COLOR
$color-tertiary: #007fff;
$color-tertiary-light: #009ff6;
$color-tertiary-dark: #0057ea;

//GREY-LIGHT-SHADES
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

//GREY-DARK-SHADES
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #414141;
$color-grey-dark-3-hover: #2c2c2c;

//BLACK AND WHITE
$color-white: #fff;
$color-black: #000;

//EXTRA COLORS
$color-yellow: #ffb900;
$color-secondary-dark: #ff7730;
$color-secondary-dark-hover: #f16c24;
