.logincontainer {
  background-color: #f5f5f5;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logincontainer .loginC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 110em;
  height: 50em;
}

.logincontainer .loginC .left-side {
  background-color: #ecf0f3;
  -webkit-box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
          box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
  height: 100%;
  width: 65%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logincontainer .loginC .left-side__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logincontainer .loginC .left-side__title .heading {
  font-family: "Kanit", sans-serif;
  color: #000;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0.3em;
}

.logincontainer .loginC .left-side__title .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.5rem;
  gap: 0.5em;
  color: #2c2c2c;
  margin-bottom: 1em;
}

.logincontainer .loginC .left-side__title .icons .icon {
  padding: 0 0.4em;
  text-align: center;
  border: solid 1px #2c2c2c;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.logincontainer .loginC .left-side__title .icons .icon:hover {
  color: #4b70e2;
  cursor: pointer;
  border: solid 1px #4b70e2;
}

.logincontainer .loginC .left-side__title .desc--top {
  font-family: "Quicksand", sans-serif;
  color: #999;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.logincontainer .loginC .left-side__form {
  width: 45%;
}

.logincontainer .loginC .left-side__form input {
  border-style: none;
  border-radius: 8px;
  font-family: "Kanit", sans-serif;
  font-size: 1.2rem;
  color: #000;
  padding: 0.8em 1em;
  margin-bottom: 0.5em;
  width: 100%;
  background-color: #ecf0f3;
  -webkit-box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
          box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}

.logincontainer .loginC .left-side__form input:focus {
  -webkit-box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
          box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
}

.logincontainer .loginC .left-side__form ::-webkit-input-placeholder {
  font-family: "Kanit", sans-serif;
  font-size: 1.2rem;
  color: #7881a1;
  font-weight: 500;
}

.logincontainer .loginC .left-side__form :-ms-input-placeholder {
  font-family: "Kanit", sans-serif;
  font-size: 1.2rem;
  color: #7881a1;
  font-weight: 500;
}

.logincontainer .loginC .left-side__form ::-ms-input-placeholder {
  font-family: "Kanit", sans-serif;
  font-size: 1.2rem;
  color: #7881a1;
  font-weight: 500;
}

.logincontainer .loginC .left-side__form ::placeholder {
  font-family: "Kanit", sans-serif;
  font-size: 1.2rem;
  color: #7881a1;
  font-weight: 500;
}

.logincontainer .loginC .left-side__form .help-block {
  color: black;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
}

.logincontainer .loginC .left-side__form .help-block-auth {
  color: black;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
  padding-bottom: 1em;
  display: block;
  text-align: center;
  font-weight: 500;
}

.logincontainer .loginC .left-side__form .link a {
  text-decoration: underline;
  margin-top: 2.5rem;
  font-family: "Kanit", sans-serif;
  font-size: 1.5rem;
  color: #999;
  display: block;
  text-align: center;
}

.logincontainer .loginC .left-side__form .btnC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5em;
}

.logincontainer .loginC .left-side__form .btnC .loginbtn {
  padding: 1rem 4rem;
  border: none;
  outline: none;
  background: none;
  background-color: #4b70e2;
  color: #f9f9f9;
  -webkit-box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
          box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
  text-transform: uppercase;
  font-family: "Kanit", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  border-radius: 50px;
  font-weight: 500;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.logincontainer .loginC .left-side__form .btnC .loginbtn:disabled {
  visibility: hidden;
}

.logincontainer .loginC .left-side__form .btnC .loginbtn:hover:not([disabled]) {
  background-color: #00bbd8;
  color: #fff;
  cursor: pointer;
}

.logincontainer .loginC .left-side__form .btnC .loginbtn:active:not([disabled]) {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

.logincontainer .loginC .right-side {
  background-color: #ecf0f3;
  -webkit-box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
          box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
  height: 100%;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  position: relative;
  overflow: hidden;
}

.logincontainer .loginC .right-side__circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #ecf0f3;
  -webkit-box-shadow: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #f9f9f9;
          box-shadow: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #f9f9f9;
  bottom: -70%;
  left: 10%;
}

.logincontainer .loginC .right-side__circle--2 {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #ecf0f3;
  -webkit-box-shadow: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #f9f9f9;
          box-shadow: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #f9f9f9;
  bottom: 80%;
  left: 0%;
}

.logincontainer .loginC .right-side .title {
  font-family: "Kanit", sans-serif;
  color: #000;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.logincontainer .loginC .right-side .desc {
  font-family: "Quicksand", sans-serif;
  color: #999;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}
/*# sourceMappingURL=login.component.css.map */