<div class="logincontainer">
  <div class="loginC">
    <div class="left-side">
      <div class="left-side__title">
        <div class="heading">Sign in to Website</div>
        <div class="icons">
          <fa-icon class="icon" [icon]="faFacebook"></fa-icon>
          <fa-icon class="icon" [icon]="faTwitter"></fa-icon>
          <fa-icon class="icon" [icon]="faLinkedin"></fa-icon>
        </div>
        <div class="desc--top">or use your email account</div>
      </div>
      <form class="left-side__form" [formGroup]="loginFormGroup">
        <p
          class="help-block"
          *ngIf="!loginForm['email'].valid && loginForm['email'].touched"
        >
          <span *ngIf="!loginForm['email'].errors?.['required']"
            >*Email is required</span
          >
          <span *ngIf="!loginForm['email'].errors?.['email']"
            >*Email is invalid</span
          >
        </p>
        <div class="email">
          <input
            class="email__input userinput"
            formControlName="email"
            type="email"
            name="email"
            placeholder="Email"
          />
          <!-- <i class="material-symbols-outlined">done_all</i> -->
        </div>
        <p
          class="help-block"
          *ngIf="!loginForm['password'].valid && loginForm['password'].touched"
        >
          *Min. 8 characters required.
        </p>
        <div class="password">
          <input
            class="password__input userinput"
            name="password"
            formControlName="password"
            type="password"
            placeholder="Password"
            pattern=".{8,}"
          />
          <!-- <i class="material-symbols-outlined">done_all</i> -->
        </div>
        <p class="help-block" *ngIf="isSubmitted && authError">
          {{ authMessage }}
        </p>
        <div class="link">
          <span><a class="forgot" (click)="onForgot()">Forgot your Password?</a></span>
        </div>
        <div class="btnC">
          <button
            class="loginbtn"
            type="submit"
            (click)="onLogin()"
            [disabled]="!loginFormGroup.valid"
          >
            Sign in
          </button>
        </div>
          
      </form>
    </div>
    <div class="right-side">
      <div class="right-side__circle"></div>
      <div class="right-side__circle--2"></div>
      <div class="title">Hello, Friend!</div>
      <div class="desc">Forgot to sign up?</div>
      <button class="signup" role="button" (click)="onSignup()">Signup</button>
    </div>
  </div>
</div>
