<div class="rightcontainer">
<div class="container">
    <div class="header-container">
      <img src="./assets/pexels-mudassir-ali-2680270.jpg" alt="" class="header-image" />
      <div class="header">
        <h1 class="main-heading">Hello! I'm Your ResumeWiz</h1>
        <span class="tag">Professional</span>
        <span class="tag">Creative</span>
        <span class="tag">Unique</span>
        <span class="tag">New</span>
        <div class="stats">
          <span class="stat-module">I can help you to build Resumes. Yes, it's pure magic! So, let's begin..</span>
        </div>
      </div> 
    </div>
    
    <div class="overlay-header"></div>
    
    <div class="body">
      <img src="./assets/image/RW logo.jpg" alt="" class="body-image" />
      <span class="body-stats">Followers <span>3.5k</span></span>
      <span class="body-stats">Following <span>1.9k</span></span>
      <div class="u-clearfix"></div>
      <div class="body-info">
        <p>
          Oh! So tired of creating your Resume? 
        </p>
        <p>
          You may be a fresher or an experienced one. It doesn't matter, making a unique Resume is an art. Don't worry! It's for that reason We're here to help you.
        </p>
      </div>
      <div class="card u-clearfix">
        <span class="card-heading">Our Templates</span>
        <ul class="card-list">
          <li><img src="./assets/image/1.jpeg" alt="" /></li>
          <li><img src="./assets/image/2.png" alt="" /></li>
          <li><img src="./assets/image/3.png" alt="" /></li>
          <li><img src="./assets/Resume-1.png" alt="" /></li>
          <li><img src="./assets/Resume-2.png" alt="" /></li>
          <li><img src="./assets/Resume-3.png" alt="" /></li>
          <li><img src="./assets/Resume-4.png" alt="" /></li>
          <li><img src="./assets/Resume-5.png" alt="" /></li>
          <li><img src="./assets/Resume-6.png" alt="" /></li>
          <li><img src="./assets/Resume-7.png" alt="" /></li>
          <li><img src="./assets/Resume-8.png" alt="" /></li>
         
        </ul>
      </div>
    </div>
    
  </div>
</div>