<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="tips">
  <h2>Tips to make your Resume awesome</h2>
<div class="cards">

<div class="card text-white bg-primary mb-3" style="max-width: 75rem;">
    <div class="card-header">Tip 1</div>
    <div class="card-body">
      <h1 class="card-title">Include the Right Information</h1>
      <h4><p class="card-text">Every resume should include some basic information, including your contact details, work experience, job skills, and education and training. Depending on the job, industry, and your qualifications, you may also choose to include optional sections such as an objective, a resume profile, volunteer work or hobbies, GPA and honors, etc.</p></h4>
    </div>
  </div>
  <div class="card text-white bg-secondary mb-3" style="max-width: 75rem;">
    <div class="card-header">Tip 2</div>
    <div class="card-body">
      <h1 class="card-title">Pick a Resume Format</h1>
      <h4><p class="card-text">Depending on your personal and professional circumstances, you'll probably want to choose a chronological, functional, or combination resume. Decide which type best fits your work experience, educational background, and skill set.</p></h4>
    </div>
  </div>
  <div class="card text-white bg-success mb-3" style="max-width: 75rem;">
    <div class="card-header">Tip 3</div>
    <div class="card-body">
      <h1 class="card-title">Review Templates and Samples</h1>
      <h4><p class="card-text">Using a resume template can help you organize your experience and qualifications. Look for resume samples for your specific industry, job title, or interest. Be sure to customize your document for your experience and for each position. If you stick too closely to these samples, you’ll wind up with a generic resume that will do nothing to highlight your skills.</p></h4>
    </div>
  </div>
  <div class="card text-white bg-danger mb-3" style="max-width: 75rem;">
    <div class="card-header">Tip 4</div>
    <div class="card-body">
      <h1 class="card-title">Match Your Qualifications to the Job</h1>
      <h4><p class="card-text">A good resume highlights the skills and qualifications you have that will be most appealing to the hiring manager. It’s not a complete work history or professional biography. To figure out what to include—and what to cut—analyze the job listing. Pay careful attention to how the employer describes the skills, experience, and responsibilities required for the role.</p></h4>
    </div>
  </div>
  <div class="card text-white bg-warning mb-3" style="max-width: 75rem;">
    <div class="card-header">Tip 5</div>
    <div class="card-body">
      <h1 class="card-title">Include Important Keywords</h1>
      <h4><p class="card-text">Your resume should include the same keywords that appear in job descriptions. That way, you will increase the chances of your resume matching open positions and of your being selected for an interview. Also include keywords in your cover letter because that correspondence will be screened, too. Keywords change with the times, so stay up-to-date with your industry.</p></h4>
    </div>
  </div>
  <div class="card text-white bg-info mb-3" style="max-width: 75rem;">
    <div class="card-header">Tip 6</div>
    <div class="card-body">
      <h1 class="card-title">Highlight Hot Skills</h1>
      <h4><p class="card-text">Remember that employers are hiring workers to solve a problem for them. Which of your skills will help you maximize their profits, minimize their losses, and improve their products and services? Highlight those skills on your resume, and watch your candidate profile zoom to the top of their interview list.</p></h4>
    </div>
  </div>
  <div class="card text-white bg-primary mb-3" style="max-width: 75rem;">
    <div class="card-header">Tip 7</div>
    <div class="card-body">
      <h1 class="card-title">Optimize Job Descriptions</h1>
      <h4><p class="card-text">Job descriptions are your chance to appeal to both screening software and human readers. Be sure to include keywords from the job description, but otherwise focus on telling a story that will resonate with hiring managers. What did you accomplish in this job, and how did it make you an ideal candidate for your next position.</p></h4>
    </div>
  </div>
  <div class="card text-white bg-secondary mb-3" style="max-width: 75rem;">
    <div class="card-header">Tip 8</div>
    <div class="card-body">
      <h1 class="card-title">Master the Details</h1>
      <h4><p class="card-text">Choose a basic font such as Times New Roman, Arial, or Verdana, leave one-inch margins on each side of your resume, and format your text consistently. Small details make a big impact on hiring managers, recruiters, and other decision-makers. Always follow directions when submitting your resume, cover letter, and other application materials. For example, if a job listing asks that candidates send their resumes in PDF format, don’t send your document in Word. Ignoring instructions can get your application booted from the process.</p></h4>
    </div>
  </div>
  <div class="card text-white bg-success mb-3" style="max-width: 75rem;">
    <div class="card-header">Tip 9</div>
    <div class="card-body">
      <h1 class="card-title">Email Your Resume the Right Way</h1>
      <h4><p class="card-text">Again, always follow the employer’s instructions about how to send your resume. Use the document type specified, e.g., PDF or Microsoft Word, send as an attachment or cut and paste as requested, and include a cover letter.</p></h4>
    </div>
  </div>
  <div class="card text-white bg-danger mb-3" style="max-width: 75rem;">
    <div class="card-header">Tip 10</div>
    <div class="card-body">
      <h1 class="card-title">Key Takeaways</h1>
      <h4><p class="card-text">A good resume should contain keywords that appeal to applicant tracking systems and stories that resonate with human hiring teams. Choose a resume format that highlights your skills, qualifications, and work experience; a functional or combination resume format may be best if you want to emphasize your abilities over your experience. Adhere to the employer’s instructions when applying for a position; always include a cover letter if asked, and send your resume in the document format requested.</p></h4>
    </div>
  </div>
</div>
</div>
