.tips{
  margin: 1.5rem 1.5rem 1.5rem 30rem;
  background-color: white;
}
h2 {
  margin-bottom: 2rem;
  margin-left: 20rem;
  font-weight: 700;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-title{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card-text{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}