<div class="mytemplates">
  <h2>Resume Templates</h2>
  <div class="imageC">
  <div class="image--1">
    <p-image class="img" src="assets/simple.jpg" alt="Image" height="350" [preview]="true"></p-image>
    </div>
    <div class="image--2">
    <p-image class="img" src="assets/temp1.jpeg" alt="Image" height="350" [preview]="true"></p-image>
  </div>
  <div class="image--3">
    <p-image class="img" src="assets/modern.png" alt="Image" height="350" width="300" [preview]="true"></p-image>
  </div>
</div>
</div>

