@import "../../../assets/variables.scss";

h1,
h2 {
  margin-top: 1em;
  margin: 0 auto;
  font-size: xx-large;
  color: $color-primary;
  font-family: "Quicksand", sans-serif;
  border-bottom: solid 1px $color-primary;
  text-align: center;
  font-weight: bold;
}

p {
  text-align: center;
  color: $color-black;
  padding: 2.5rem;
  text-align: justify;
  font-size: medium;
}

.sectioncontainer {
  background: linear-gradient(to right, #27b8ea, #30d3c2, #46f5a6);
  display: flex;
  height: 130em;
  align-items: center;
  justify-content: center;
  flex-direction: column;


  .section1 {
    height: 100%;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 7em;

    .content {
      margin: 0em 2.5em;
      padding: 2.5rem 2.5rem;
      border-radius: 5px;
      height: 35em;
      width: 50%;
      border: solid 3px $color-white;
      box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
    .part1 {
      background: linear-gradient(to top, $neu-1, #c9e6ff);
    }
    .part2 {
      background: linear-gradient(to top, $neu-1, #c9e6ff);
    }
  }
}
