<div class="section1">
  <img src="assets/infographic-resume-template-header.png" class="img" alt="" />
</div>

<div id="back">
  <div class="section2">
    <div class="part1 content">
      <h1>Join Hands With ResumeWiz</h1>
      <br />

      <p>
        Applying for jobs was never so easy, few clicks and your resume is
        ready. We promise a hassle free experience with thousands of resume
        templates to choose from. A sleek and attractive resume highlighting
        your skills and lots of customization to match your taste. So why wait
        prepare for the job interview while we design your resume for the dream
        job.
      </p>
    </div>

    <div class="part2 content">
      <h1>What is a resume?</h1>
      <br />
      <p>
        A resume is a one- to two-page document that formalizes and summarizes
        your work experience, skills and education. When you submit a resume for
        a job application, you’re showing employers what you’re capable of doing
        and the abilities you possess that allow you to fulfill the job
        responsibilities.
      </p>
    </div>
  </div>
  <br />
</div>
