<div class="formcontainer">
    <div class="container">
  <form [formGroup]="careerObjectiveFormGroup">
  <div>
    <div class="col-25">
      <h1><label for="fname"><b>CAREER OBJECTIVE</b></label></h1>
    </div>
  </div>
  <div>
    <div class="col-25">
      <label for="lname"><h2>Tell us about your career objectives...</h2></label>
    </div>
  </div>
  <div>
    <div class="col-75">
      <textarea id="subject" name="objective"
      formControlName="objective"
      name="subject" placeholder="Write here.." style="height:200px"></textarea>
    </div>
  </div>
  <br>
  <div class="btngrp">
    <input type="button" value="Back" (click)="backToSummary()">
    <input type="button" value="Next" [disabled]="disable" (click)="onSubmit()">
  </div>
  </form>
</div>
</div>