<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

<div class="sidebar">
<div class="logo-details">
  <i class='bx bx-box'></i>
  <span class="logo_name">ResumeWiz</span>
</div>
  <ul class="nav-links">
    <li routerLink="/dashboard/home">
      <a routerLinkActive="active">
        <i class='bx bx-grid-alt' ></i>
        <span class="links_name">Dashboard</span>
      </a>
    </li>
    <li></li>
    <li routerLink="/dashboard/profile" >
      <a routerLinkActive="active">
        <i class='bx bx-user' ></i>
        <span class="links_name">Profile</span>
      </a>
    </li>
    <li routerLink="/dashboard/templatecollections">
      <a routerLinkActive="active">
        <i class='bx bx-coin-stack' ></i>
        <span class="links_name">Templates</span>
      </a>
    </li>
    <li>
      <a>
        <i class='bx bx-message' ></i>
        <span class="links_name">Tips</span>
      </a>
    </li>
    <li routerLink="/dashboard/settings">
      <a  routerLinkActive="active">
        <i class='bx bx-cog' ></i>
        <span class="links_name">Settings</span>
      </a>
    </li>
    <li class="log_out" (click)="onLogout()" >
      <a>
        <i class='bx bx-log-out'></i>
        <span class="links_name">Log out</span>
      </a>
    </li>
  </ul>
</div>
<nav>
  <div class="sidebar-button">
    <span class="dashboard">Welcome to Your Resume Wizard Dashboard</span>
  </div>
  <div class="profile-details">
    <span class="admin_name">Welcome, {{username | titlecase}}</span>
  </div>
</nav>

