<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

<div class="sidebar">
<div class="logo-details">
  <i class='bx bx-box'></i>
  <span class="logo_name">ResumeWiz</span>
</div>
  <ul class="nav-links">
    <li>
      <a href="#" class="active">
        <i class='bx bx-grid-alt' ></i>
        <span class="links_name">Dashboard</span>
      </a>
    </li>
    <li></li>
    <li>
      <a href="#">
        <i class='bx bx-user' ></i>
        <span class="links_name">Profile</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-box' ></i>
        <span class="links_name">My Resume</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-coin-stack' ></i>
        <span class="links_name">Templates</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-message' ></i>
        <span class="links_name">Tips</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-cog' ></i>
        <span class="links_name">Settings</span>
      </a>
    </li>
    <li class="log_out">
      <a href="#">
        <i class='bx bx-log-out'></i>
        <span class="links_name">Log out</span>
      </a>
    </li>
  </ul>
</div>
<section class="home-section">
<nav>
  <div class="sidebar-button">
    <i class='bx bx-menu sidebarBtn'></i>
    <span class="dashboard">Welcome to Your Resume Wizard Dashboard</span>
  </div>
  <div class="profile-details">
    <!--<img src="images/profile.jpg" alt="">-->
    <span class="admin_name">User's Name</span>
  </div>
</nav>

</section>
