<div class="headingcontainer">
    <div class="heading">Join millions of Happy Users!
    </div>
<div class="testimonials">
  <div class="t-bq-wrapper1 t-bq-wrapper-boxed1">
    <div class="t-bq-quote t-bq-quote-jasper">
        <div class="t-bq-quote-jasper-pattern">
            <div class="t-bq-quote-jasper-qmark">
                &#10077;
            </div>
        </div>
  
        <div class="t-bq-quote-jasper-userpic"></div>
  
        <div class="t-bq-quote-jasper-base">
            <blockquote class="t-bq-quote-jasper-text" cite="Strugatsky Brothers">
              “Just a quick note to say THANK YOU!!!! I applied to 8 positions and got interviews at every one of them. I was offered jobs at 4. I accepted my dream job with a pay increase over my previous job. Everyone loved my resume and cover letter. You ROCK.”
            </blockquote>
            <div class="t-bq-quote-jasper-meta">
                <div class="t-bq-quote-jasper-meta-info">
                    <div class="t-bq-quote-jasper-author"><cite>—KELLY D, </cite></div>
                    <div class="t-bq-quote-jasper-source"><span>INSTRUCTIONAL TECHNOLOGIST </span></div>
                </div>
            </div>
        </div>
    </div>
  </div>

</div>


<div class="testimonials">
  
  <div class="t-bq-wrapper2 t-bq-wrapper-boxed2">
    <div class="t-bq-quote t-bq-quote-paul">
        <div class="t-bq-quote-paul-userpic"></div>
        <div class="t-bq-quote-paul-qmark">
            &#10077;
        </div>
        <div class="t-bq-quote-paul-pattern">
        </div>
        <div class="t-bq-quote-paul-base">
            <blockquote class="t-bq-quote-paul-text" cite="Strugatsky Brothers">
              “1 job application submitted.
              Next-day response for phone interview.
              Next-day response for in-person interview after speaking over the phone.
              
              Boom.
              
              Your services undoubtedly created this momentum. Just wanted to express my gratitude. You rock!”
            </blockquote>
            <div class="t-bq-quote-paul-meta">
                <div class="t-bq-quote-paul-meta-info">
                    <div class="t-bq-quote-paul-author"><cite>MIKE H</cite></div>
                    <div class="t-bq-quote-paul-source"><span>SENIOR DESIGNER AND ART DIRECTOR</span></div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="testimonials">
  <div class="t-bq-wrapper3 t-bq-wrapper-boxed3">
    <div class="t-bq-quote t-bq-quote-jasper">
        <div class="t-bq-quote-jasper-pattern">
            <div class="t-bq-quote-jasper-qmark">
                &#10077;
            </div>
        </div>
  
        <div class="t-bq-quote-jasper-userpic"></div>
  
        <div class="t-bq-quote-jasper-base">
            <blockquote class="t-bq-quote-jasper-text" cite="Strugatsky Brothers">
              “Starting my career search was a daunting task after working for the same company for 6 years. My resume felt outdated, cumbersome, and in need of serious revision. I am extremely grateful I came across Nicole's website. I was pressed for time to update my CV and Nicole delivered an exceptional resume. Her work was elegant, yet simple. Professional and very easy to read. The feedback I have received so far has been outstanding. Nicole really listened to me and did a superb job balancing the many requests I threw at her while keeping the nuances of my career succinct and crisp. I wholeheartedly recommend reaching out to her. 6/5 stars, she was a pleasure to work with.”
            </blockquote>
            <div class="t-bq-quote-jasper-meta">
                <div class="t-bq-quote-jasper-meta-info">
                    <div class="t-bq-quote-jasper-author"><cite>—JON F, </cite></div>
                    <div class="t-bq-quote-jasper-source"><span>FINANCIAL AND OPERATIONS ANALYST </span></div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
</div>
