<div class="sidebarcontainer">
  <h3>ResumeWiz</h3>
  <div class="links">
    <li routerLink="/admin/home" routerLinkActive="active">
      <a><i class="pi pi-home"></i>Dashboard</a>
    </li>
    <li routerLink="/admin/userprofiles" routerLinkActive="active">
      <a><i class="pi pi-users"></i>Users</a>
    </li>
    <li>
      <a><i class="pi pi-palette"></i>Resume Templates</a>
    </li>
  </div>
  <div class="button" (click)="onLogout()">
    <a class="logout">Logout &nbsp;<i class="pi pi-sign-out text-1xl"></i></a>
  </div>
</div>
