<div class="body" >

  <div class="cont"  >

      <h1>Tell us about your most recent job</h1><br>
  <br>
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Title</label>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Title">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Company</label>
  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Company">
</div>
<label for="formGroupExampleInput2" class="form-label">Description</label>
<div class="form-floating">

  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Comments</label>
</div>
<div class="row">
<div class="col-md-5">
  <label for="inputState" class="form-label">From</label>
  <select id="inputState" class="form-select">
    <option selected>Year</option>
    <option>...</option>
  </select>
</div>
<div class="col-md-5">
  <label for="inputState" class="form-label">To</label>
  <select id="inputState" class="form-select">
    <option selected>Year</option>
    <option>...</option>
  </select>
</div>
<br><br>

<div class="col-4">
  <button type="submit" class="btn " id="back" (click)="backToEducation()" >Back</button>
</div>
<div class="col-6">
  <button type="submit" class="btn btn-primary" id="next" (click)="toSkills()">Next</button>
</div>
</div>
</div>
</div>