<div class="body" >
    <div class="cont">
        <h1>Tell us about your education</h1><br>
    <br>
     <form class="row g-3">
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">School</label>
        <input type="text" class="form-control" id="formGroupExampleInput" >
      </div>
      <label for="form-select" class="form-label">Degree</label>
      <select class="form-select" aria-label="Default select example">
        
        <option selected>Computer</option>
        <option value="1">Maths</option>
        <option value="2">English</option>
        <option value="3">chemistry</option>
      </select>
    
    
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Major</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" >
      </div>
    
      <div class="col-md-5">
        <label for="inputState" class="form-label">From</label>
        <select id="inputState" class="form-select">
          <option selected>Year</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-5">
        <label for="inputState" class="form-label">To</label>
        <select id="inputState" class="form-select">
          <option selected>Year</option>
          <option>...</option>
        </select>
      </div>
    
      <div class="col-6">
        <button type="submit" class="btn " id="back" (click)="backToDashboard()">Back</button>
      </div>
      <div class="col-6">
        <button type="submit" class="btn btn-primary" id="next" (click)="toExperience()">Next</button>
      </div>
    </form>
    </div>
    </div>
      