<section>
  <div class="pdfContainer">
    <div class="pdf-main-content">
      <div class="pdf-title">
        <p class="popout">
        <span>V</span>
        <span>I</span>
        <span>E</span>
        <span>W</span>
        <span>&nbsp;&nbsp;</span>
        <span>M</span>
        <span>Y</span>
        <span>&nbsp;&nbsp;</span>
        <span>R</span>
        <span>E</span>
        <span>S</span>
        <span>U</span>
        <span>M</span> 
        <span>E</span> 
      </p></div>
    </div>
    <app-rpdf></app-rpdf>
  </div>
</section>
