<div class="container">
  <h3 class="container__heading">3 Easy Steps to create your perfect resume</h3>
  <div class="container__steps">
    <div class="container__steps__step-1">
      <div class="imgcontainer__img-1">
        <fa-icon class="icon" [icon]="faMousePointer"></fa-icon>
      </div>
      <h4 class="sub-heading">Choose your resume template</h4>
      <p>
        Our professional resume templates are designed strictly following all
        industry guidelines and best practices.
      </p>
    </div>
    <div class="container__steps__step-2">
      <div class="imgcontainer__img-2">
        <fa-icon class="icon" [icon]="faFileAlt"></fa-icon>
      </div>
      <h4 class="sub-heading">Show what you're made of</h4>
      <p>
        Not finding the right words to showcase yourself? We've added thousands
        of pre-written examples and resume samples.
      </p>
    </div>
    <div class="container__steps__step-3">
      <div class="imgcontainer__img-3">
        <fa-icon class="icon" [icon]="faCloudDownloadAlt"></fa-icon>
      </div>
      <h4 class="sub-heading">Download your Resume</h4>
      <p>
        Start impressing employers. Download your awesome resume and land the
        job you are looking for, effortlessly.
      </p>
    </div>
  </div>
  <div class="container__features">
    <div class="feature-1"></div>
    <div class="feature-2"></div>
    <div class="feature-3"></div>
    <div class="feature-4"></div>
  </div>
</div>
