@import "../../../assets/variables.scss";

.container {
  background: linear-gradient(to right, #350f96, #511bda, #350f96);
  display: flex;
  padding: 1em 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;

  &__heading {
    font-family: "Quicksand", sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5em;
    font-weight: 800;
    color: $color-white;
  }

  &__steps {
    display: flex;
    height: 75%;
    align-items: center;
    justify-content: space-around;

    &__step-1,
    &__step-2,
    &__step-3 {
      padding: 3em 2.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 30%;
      border-radius: 15px;
      transition: all 0.1s;
      border: solid 1px $color-white;
      cursor: pointer;

      &:hover {
        border: none;
        background: linear-gradient(to bottom right, #350aa1, #6224ff);
        background-position: top bottom;
        border-top: solid 3px $color-white;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
          rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
          rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
          rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
          rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
          rgba(0, 0, 0, 0.09) 0px 32px 16px;
      }

      .imgcontainer__img-1,
      .imgcontainer__img-2,
      .imgcontainer__img-3 {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 2.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 2px $color-white;
        transition: all 1.5s;

        &:hover {
          transform: rotateY(360deg);
        }

        .icon {
          font-size: 5rem;
          color: $color-white;
        }
      }

      .sub-heading {
        font-family: "Quicksand", sans-serif;
        font-size: 2rem;
        margin-bottom: 1em;
        text-align: center;
        color: $color-white;
      }
      p {
        padding: 0 2em;
        font-family: "Quicksand", sans-serif;
        font-size: 1.5rem;
        text-align: center;
        color: $color-white;
      }
    }
  }
}

.features {
  background-color: $color-white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: 5em 8em;
  height: 105vh;

  &__images {
    background: linear-gradient(to bottom left, #350aa1, #6224ff);
    width: 20%;
    border-radius: 10px;
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

    &__image {
      height: 40vh;
      margin-bottom: 13em;
      box-shadow: rgba(3, 3, 3, 0.397) 0px 8px 24px;
      animation: scrolling 35s linear infinite;
    }
  }

  .card-container {
    background-color: $color-white;
    height: 100%;
    width: 80%;
    padding: 2rem;

    .card {
      height: 15rem;
      margin-bottom: 4em;
      padding: 2rem;
      perspective: 150rem;
      -moz-perspective: 150rem;
      position: relative;
      .side {
        height: 50%;
        width: 100%;
        padding: 1em 2.5em;
        transition: all 0.8s;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        backface-visibility: hidden;

        &__front {
          background: linear-gradient(to bottom right, #ffffff, #e0e0e0);
          height: 100%;
          box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px,
            rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
            rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
          color: $color-primary;

          .heading {
            font-family: "PT Sans Narrow", sans-serif;
            font-size: 4rem;
          }
        }
        &__back {
          background: linear-gradient(to right, #350f96, #511bda, #350f96);
          color: $color-white;
          transform: rotateX(-180deg);
          height: 100%;

          .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p {
              font-family: "PT Sans Narrow", sans-serif;
              font-size: 2rem;
              text-align: center;
              padding-bottom: 1.5em;
            }
            .btn {
              text-decoration: none;
              font-family: "PT Sans Narrow", sans-serif;
              font-size: 1.5rem;
              background-color: $color-white;
              border-radius: 4px;
              padding: 0.3em 1em;
              color: $color-primary;
              transition: all 0.3s;
              cursor: pointer;

              &:hover {
                font-size: 1.7rem;
              }
            }
          }
        }
      }
      &:hover .side__front {
        transform: rotateX(180deg);
      }
      &:hover .side__back {
        transform: rotateX(0);
      }
    }
  }
}

@keyframes scrolling {
  0% {
    transform: translateY(260vh);
  }
  100% {
    transform: translateY(-260vh);
  }
}
