<ul>
    <!--starting ul tag to create unordered lists.-->
    <li>
        <a href="#">
            <div class="icon">
                <i class="fa fa-home" aria-hidden="true"></i>
                <i class="fa fa-home" aria-hidden="true"></i>
            </div>
            <div class="name"><span data-text="ResumeWiz">ResumeWiz</span></div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="icon">
                <i class="fa fa-file" aria-hidden="true"></i>
                <i class="fa fa-file" aria-hidden="true"></i>
            </div>
            <div class="name"><span data-text="Templates">Templates</span></div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="icon">
                <i class="fa fa-users" aria-hidden="true"></i>
                <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <div class="name"><span data-text="Testimonials">Testimonials</span></div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="icon">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
            <div class="name"><span data-text="Contact">Contact</span></div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="icon">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <i class="fa fa-cogs" aria-hidden="true"></i>
            </div>
            <div class="name"><span data-text="Settings">Settings</span></div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="icon">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                <i class="fa fa-sign-in" aria-hidden="true"></i>
            </div>
            <div class="name"><span data-text="LogOut">LogOut</span></div>
        </a>
    </li>
</ul>
