<div class="container">
  <div class="cover-image">
    <div class="content">
      <h3>Get in Touch</h3>
      <p>
        Want to get in touch? We'd love to hear from you. Here's how you can
        reach us.
      </p>
    </div>
  </div>
</div>
<div class="choice">
  <div class="small-container email">
    <fa-icon class="icon" [icon]="faEnvelope"></fa-icon>
    <div class="heading">Email us</div>
    <div class="content">
      <p>
        Facing issues in this website? Reach out to us to help us make the
        website a user engaging experience.
      </p>
      <a class="email" href="">theresumewizardteam@gmail.com</a>
    </div>
  </div>
  <div class="small-container support">
    <fa-icon class="icon" [icon]="faComments"></fa-icon>
    <div class="heading">Contact Customer Support</div>
    <div class="content">
      <p>
        Sometimes you need a little help from our team. <br />
        Don't worry we're here for you.
      </p>
      <a class="contact-support" href="">Contact Support</a>
    </div>
  </div>
</div>
