<div class="formcontainer">
    <div class="container">
        <form [formGroup]="prSummaryFormGroup">
        <div>
          <div class="col-25">
            <h1><label for="fname"><b>PROFESSIONAL SUMMARY</b></label></h1>
          </div>
        </div>
        <div>
          <div class="col-25">
            <label for="lname"><h3>Give us a short summary of your professional career...</h3></label>
          </div>
        </div>
        <div>
          <div class="col-75">
            <textarea id="subject" name="subject" placeholder="Write here.." name="summary"
            formControlName="summary"
            style="height:200px"></textarea>
          </div>
        </div>
        <br>
        <div class="btngrp">
          <input type="button" value="< Back" (click)="backToSkills()">
          <input type="button" value="Next >" [disabled]="disable" (click)="onSubmit()">
        </div>
        </form>
      </div>
  </div>