

<div class="body">
    <div class="row">
       <div class="col-sm-6">
         <div class="card">
           <div class="card-body">
               <img [src] ="url" id="img">
             <h5 class="card-title">Resume</h5>
             
             <h3 class="card-text">Pick from our dozens of professionally designed resume templates to create your resume. </h3>
             <a href="#" class="btn btn-primary" id="space">Create Resume</a>
   
             <a href="#" class="btn btn-primary" id="space">Edit Resume</a>
             
             <a href="#" class="btn btn-primary" id="space1">Download Resume</a>
           </div>
         </div>
       </div>
       </div>
       
       <br>
       <h2>ResumeWiazrd</h2>
       <h1>Minimal design. Positive impact.</h1>
       <p></p>
       <div class="row">
       <div class="col-sm-6">
         <div class="card">
           <div class="card-body">
             <img [src] ="url1" id="img">
             <h5 class="card-title">Profile</h5>
             <h3 class="card-text">Land your dream job with ResumeWiazrd's
               state-of-the-art builder.
             </h3>
             <a href="#" class="btn btn-primary" id="space">Create Profile</a>
             <a href="#" class="btn btn-primary"id="space">Edit profile</a>
             <a href="#" class="btn btn-primary"id="space1"> Profile Link</a>
           </div>
         </div>
       </div>
     </div>
   </div>
   

