<div class="form-container">
  <h2>Reset Password Form</h2>
  <div class="box">
  <form [formGroup]="nodeMailerForm">
    <div class="field">
      <h3>Forgot Password</h3>
      <label for="email" class="block">Email Id</label>
      <input id="value" name="email"
      formControlName="email" placeholder="provide email id here" type="email" email pInputText />
    </div> 
    <div class="buttons">
      <button type="submit" class="btn btn-primary btns" [disabled]="!nodeMailerForm.valid" (click)="sendMail()" id="update">Send Mail</button>
      <button type="button" class="btn btn-primary" id="cancel">Cancel</button>
    </div>
</form>
</div>
</div>
